
.wrapper{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.item{
    background: linear-gradient(90deg,rgba(182, 217, 182, 1) 0%, rgba(87, 147, 199, 1) 50%, rgba(136, 1, 148, 1) 100%);
    border-radius: 50%;
    border: 2px solid rgb(182, 217, 182);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    box-shadow: 11px 4px 22px 6px rgba(0,0,0,0.52);
}


.item:hover{
    border-radius: 1px;
    transition: 2s;
    transform: scale(2);
    border: 2px solid rgb(136, 1, 148);

 }