*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 113px;
    background: #24204A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
}
.header__w1170{
    height: 100%;
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__w1170 h2{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #E5E5E5;
    opacity: 0.6;
}

.header__w1170 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    list-style-type: none;
}
nav a{
    text-decoration: none;
    color: #E5E5E5;
    opacity: 0.6;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

}
/*-----------------------------------top-section-----------------------*/
.sec__one_posotion{
    width: 100%;
    height: 692px;
    background: #24204A;
    box-sizing: border-box;
}
.section__w1170{
    height: 100%;
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.one_posotion{
    width: 145px;
    height: 41px;
    background: rgba(75, 72, 100, 1);
    border-radius: 8px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: rgba(142, 136, 193, 1);
}
.section__w1170 h1{
    width: 261px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #FFFFFF;
}
.section__w1170 p{
    width: 570px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: rgba(142, 136, 193, 1);
}
.about{
    width: 200px;
    height: 56px;
    opacity: 1;
    border-radius: 8px;
    background: rgba(63, 80, 231, 1);
    box-shadow: 0 6px 20px 0 rgba(0, 255, 224, 0.2);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
}
.section__w1170 div:nth-child(1){
    width: 570px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
}
.section__w1170 div:nth-child(2){
    width: 375px;
    height: 411px;
    border-radius: 8px;
    background: #827EAC;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25);
}
.section__w1170 div:nth-child(2) img{
    width: 318px;
}
/*---------------------------mid-section-------------------------*/
.sec__lorem{
    width: 100%;
    height: 764px;
    background-color: #071341;
    box-sizing: border-box;
}
.lorem__w1170{
    height: 100%;
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.icons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 73px;
}
.icon{
    width: 175px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.icon div:nth-child(1){
    width: 56px;
    height: 56px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon div:nth-child(2) h4{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
}
.icon div:nth-child(2) p{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(142, 136, 193, 1);
}
.icon:nth-child(1) div:nth-child(1){
    background: #FF6853;
}
.icon:nth-child(2) div:nth-child(1){
    background: #FF537C;
}
.icon:nth-child(3) div:nth-child(1){
    background: #80D2C4;
}
.icon:nth-child(4) div:nth-child(1){
    background: #3F50E7;
}
.icon:nth-child(5) div:nth-child(1){
    background: #95CB7C;
}
.lorem__w1170 h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
    width: 1074px;
}
.lorem__w1170>p{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #8E88C1;
    width: 545px;

}
.cards{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.card{
    width: 209px;
    height: 206px;
    border-radius: 8px;
    border: 2px #8E88C1 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 26px;
}
.card p{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    width: 178px;
    text-align: center;
    color: #8E88C1;
}
iframe{
    width: 100%;
    height: 664px;
}
footer{
    width: 100%;
    height: 94px;
    background: #071341;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
;
}
