*{
    margin: 0;
}
.grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 1.2fr 1.3fr 1fr;
    grid-template-areas:
    "header header header"
    "l_aside t_section r_aside"
    "l_aside b_section r_aside"
    "footer footer footer";
}

header{
    grid-area: header;
    background: #D9D9D9;

}
section:nth-of-type(1){
    grid-area: t_section;
    background: #827878;
}
section:nth-of-type(2){
    grid-area: b_section;
    background: #B7ADAD;

}
aside:nth-of-type(1){
    grid-area: l_aside;
    background: #C0BDBD;

}
aside:nth-of-type(2){
    grid-area: r_aside;
    background: #C0BDBD;
}

footer {
    grid-area: footer;
    background: #D9D9D9;
}
