*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}
.wrapper{
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(232, 173, 151, 0.93);
}
.item{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 1s;
}
.item:hover{
    border-radius: 50%;
    background-color: #6a6969;
    transition: 2s;
}