*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    font-size: 20px;

}
section h2{
    font-size: 32px;

}
section p{
    width: 90%;

}
section a{
    color: black;
    font-size: 60px;
    margin: 50px 0;
}
#pink{
    background-color: #bc685e;
}
#blue{
    background-color: #92f4e1;
}
#green{
    background-color: #419a55;
}