*{
    margin:0;
}
.grid{
    height: 100vh;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 0.5fr 5fr 4fr 0.8fr 1fr;
    grid-template-areas:
    "nav nav"
    "main t_section"
    "main m_section"
    "b_section b_section"
    "footer footer";
}
nav{
    grid-area: nav;
    background: #D9D9D9;
}
main{
    grid-area: main;
    background: #A4A4A4;
}
section:nth-of-type(1){
    grid-area: t_section;
    background: #7F7A7A;
}
section:nth-of-type(2){
    grid-area: m_section;
    background: #615050;
}
section:nth-of-type(3){
    grid-area: b_section;
    background: #D9D9D9;
}
footer{
    grid-area: footer;
    background: #AFA9A9;
}