body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.animation{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.plane{
    height: 25px;
    animation: flight 3s linear infinite;
}

@keyframes flight{
    from{
        transform: translate(0,100px);
    }
    50%{
        transform: translate(600px, -50px) rotate(-90deg);
    }

    75%{
        transform: translate(300px,-70px) rotate(-180deg);
    }
    to{
        transform: translate(0,100px) rotate(-360deg);
    }
}