*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #4f6e53;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    padding: 50px 0;
}
.card {
    width: 200px;
    height: 180px;
    padding: 10px;
    margin: 50px 0;
    background-color: #d1e1c8;
    border-radius: 10px;
    transition: 1s;
}
.card:hover {
    transform: scale(1.2);
    transition: 1s;
}

.card p{
    font-size: 14px;
    margin: 8px 0;
    color: #2f2e2e;
}

.card h2{
    font-size: 18px;
    color: #2f2e2e;
    margin-bottom: 15px;
}

