body{
    margin:2%;
}
header{
    height:60vh;
    background-color: cornflowerblue;
}
.wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
}
section{
    background-color: #2f528d;
    width:32%;
    height:70vh;
}
footer{
    background-color: cornflowerblue;
    height:90vh;
}

header, section, footer{
    display:flex;
    justify-content: center;
    align-items: center;

}
section{
    font-size: 36px;
    color: rgba(255, 255, 255, 0.58);
}
header, footer{
    font-size: 70px;
    color: white;
}