*{
    margin: 0;
}

header{
    height: 4vh;
    background: #D9D9D9;
}

footer{
    height: 10vh;
    background: #D9D9D9;
}

main{
    display: flex;
}

.main__tall-div{
    display: flex;
    height: 86vh;
}

.main__left-sect{
    width: 27vw;
    background: #A4A4A4;
}

.main__right-sect{
    width: 30vw;
    background: #C1C1C1;
}

.main__aside-div aside{
    width: 43vw;
    height: 43vh;
}

.main__top-aside{
    background: #7F7A7A;
}

.main__bottom-aside{
    background: #6B6161;
}