*{
    margin: 0;
}

nav{
    height: 4vh;
    background: #D9D9D9;
}


main{
    display: flex;
    height: 86vh;
}

section{
    width: 27vw;
    background: #A4A4A4;
}

article{
    width: 30vw;
    background: #C1C1C1;
}

div{
    width: 43vw;
    height: 86vh;
}

main aside{
    height: 50%;
}

.main__top-aside{
    background: #7F7A7A;
}

.main__bottom-aside{
    background: #6B6161;
}

footer{
    height: 10vh;
    background: #D9D9D9;
}