
body{
    font-family: Arial, sans-serif;
}

.wrapper{
    margin: 0 auto;
    height: 71vh;
    width: 25vw;
}

.login{
    height: 80%;
    border: 1px rgba(128, 128, 128, 0.4) solid;
}
.login img{
    width: 80%;
}
.login, form{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

input[type="text"], input[type="password"]{
    width: 78%;
    margin-top: 10px;
    padding: 3% 1%;
    box-sizing: border-box;
    text-overflow: ellipsis;
}
input[type="submit"]{
    margin: 20px 0;
    width: 78%;
    height: 35px;
    border-radius: 8px;
    border: none;
    background-color: rgb(104, 180, 248);
    color: white;
}
form span{
    margin: 10px 0;
    color: grey;
}
form p{
    margin: 15px 0;
    color: #105c9e;
}
form svg{
    margin: -5px 0;
}
form a{
    margin-bottom: 15px;
    color: #105c9e;
    text-decoration: none;
}
/*-----------------register--------------------------------------*/
.registration{
    height: 17%;
    margin-top: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px rgba(128, 128, 128, 0.4) solid;
}
.registration a {
    color: #68b5fa;
    text-decoration: none;
    font-weight: 600;
}