@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

header, footer, section, aside{
    display: flex;
    justify-content: center;
    align-items: center;
}

header, footer{
    height: 20vh;
    font-family: 'Inter', sans-serif;
    font-size: 45px;
}

header{
    background: #8D8484;
}

footer{
    background: #BDBDBD;
}

main{
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    color: #FFFFFF;
}
div{
    height: 60vh;
}
/*------------------------------------------------------content------------------------------------------------------------------------*/
.content section{
    width: 73vw;
    height: 20vh;

}

.main__content-top{
    background: #776969;
}
.main__content-mid{
    background: #643030;
}
.main__content-bottom{
    background: #441818;
}


/*----------------------------------------------------spam------------------------------------------------------------------------------*/
.spam aside{
    width: 27vw;
    height: 30vh;

}

.main__spam-top{
    background: #937575;
}
.main__spam-bottom{
    background: #644C4C;
}

