.playwrite {
    font-family: "Playwrite NZ Guides", cursive;
    font-weight: 700;
    font-style: italic;
}

.sixtyfour {
    font-family: "Sixtyfour Convergence", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;

}

