*{
    margin: 0;
    padding: 0;
}
body{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 132px;
}

.card{
    width: 319px;
    height: 492px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 4px solid #554C4C;
    position: relative;
}
.card h3{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
}
.card p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    text-align: center;

}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #554C4C;
    background-color: white;
    position: absolute;
    top: -55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green_board{
    border: 4px solid #65856E;
}