body{
    background-image: url(https://images.unsplash.com/photo-1759222973482-3c0d90dd8549?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}
p{
    color: indigo;
    font-size: 32px;
    width: 50%;
    background-color: rgba(144, 238, 144, 0.51);
}

h2, h3{
    color: chartreuse;
}
sup{
    color: darkgoldenrod;
}

img{
    width: 150px;
}
