.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card{
    height: 200px;
    width: 200px;
    background-color: #f1c4b2;
    display: flex;
    justify-content: center;
    align-items: center;

}
.rubik{
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
    font-style: normal;
}
.sedgwick{
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}

.dancing{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.fjalla{
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.indie{
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}
